<app-progress-loading [show]="loading"></app-progress-loading>

<app-container>
  <h1>Vyhledávání pacienta</h1>
  <mat-card>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()" #searchForm="ngForm">
        <mat-form-field>
          <mat-label>Rodné číslo nebo číslo pojištěnce očkovaného</mat-label>
          <input matInput [(ngModel)]="searchQuery"
                 placeholder="Zadejte rodné číslo nebo číslo pojištěnce"
                 name="searchQuery"
                 required>
          <mat-hint>Rodné číslo ve formátu RRMMDD/ČČČ(Č) nebo číslo pojištěnce uvedené na kartičce zdravotní pojišťovny</mat-hint>
        </mat-form-field>

        <button color="primary"
                [disabled]="submitted || searchForm.form.invalid"
                mat-raised-button>
          Vyhledat pacienta
        </button>
      </form>
    </mat-card-content>
  </mat-card>

  <div class="history__header">
    <h3>Historie vyhledávání</h3>
    <button *ngIf="searchHistory.length" (click)="clearHistory()" mat-button color="warn">
      Vymazat historii
    </button>
  </div>

  <mat-card class="history">
    <div *ngFor="let query of searchHistory">
      <div class="history__item">
        <span>{{ query.search }}</span>
        <button (click)="findPatientForSearchHistory(query)" mat-button color="primary">
          Hledat znovu
        </button>
      </div>
      <mat-divider></mat-divider>
    </div>
  </mat-card>

</app-container>
