<mat-toolbar color="primary">
  <span>Dotazník před očkováním proti nemoci COVID-19</span>
</mat-toolbar>

<main>
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="basicInfoForm" label="Osobní informace">
      <div class="container">
        <mat-card>
          <mat-card-content>
            <form [formGroup]="basicInfoForm">
              <mat-form-field>
                <mat-label>Jméno</mat-label>
                <input [(ngModel)]="patientInfo.first_name" formControlName="firstName" matInput placeholder="Vaše jméno" required>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Příjmení</mat-label>
                <input [(ngModel)]="patientInfo.last_name" formControlName="lastName" matInput placeholder="Vaše příjmení" required>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Rodné číslo</mat-label>
                <input [(ngModel)]="patientInfo.birth_number" type="number" formControlName="birthNumber" matInput placeholder="Vaše rodné číslo" required>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Zdravotní pojišťovna</mat-label>
                <mat-select formControlName="insuranceCompany" [(ngModel)]="patientInfo.insurance_company">
                  <mat-option *ngFor="let insuranceCompany of allInsuranceCompanies" [value]="insuranceCompany">
                    {{insuranceCompany}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Telefonní číslo</mat-label>
                <input [(ngModel)]="patientInfo.phone" formControlName="phone" matInput placeholder="Vaše telefonní číslo" required>
              </mat-form-field>
              <mat-form-field>
                <mat-label>E-mail</mat-label>
                <input [(ngModel)]="patientInfo.email" formControlName="email" matInput placeholder="Váš e-mail" required>
              </mat-form-field>
            </form>
          </mat-card-content>
        </mat-card>

        <div class="nav-buttons">
          <div></div>
          <button color="primary" mat-raised-button matStepperNext>Další krok</button>
        </div>
      </div>
    </mat-step>
    <mat-step label="Zdravotní informace">
      <div class="container">
        <mat-card class="py-0">
          <mat-card-content>
            <form>
              <ng-container *ngFor="let q of patientInfo.questions; let i = index">
                <div class="form-field">
                  <mat-label>{{ q.label }}</mat-label>
                  <mat-button-toggle-group [(ngModel)]="q.value" [name]="q.name">
                    <mat-button-toggle value="true">Ano</mat-button-toggle>
                    <mat-button-toggle value="false">Ne</mat-button-toggle>
                  </mat-button-toggle-group>
                </div>
                <mat-divider *ngIf="i < patientInfo.questions.length - 1"></mat-divider>
              </ng-container>
            </form>
          </mat-card-content>
        </mat-card>
        <div class="nav-buttons">
          <button color="secondary" mat-raised-button matStepperPrevious>Předchozí krok</button>
          <button color="primary" mat-raised-button matStepperNext>Další krok</button>
        </div>
      </div>
    </mat-step>
    <mat-step label="Odeslání požadavku">
      <div class="container container--wide">
        <div class="confirmation-step">
          <mat-card class="py-0">
            <mat-card-content>
              <div class="form-field">
                <mat-label>Jméno:</mat-label>
                <mat-label *ngIf="basicInfoForm.controls['firstName'].valid else unspecified;">
                  {{ patientInfo.first_name }}
                </mat-label>
              </div>
              <mat-divider></mat-divider>
              <div class="form-field">
                <mat-label>Příjmení:</mat-label>
                <mat-label *ngIf="basicInfoForm.controls['lastName'].valid else unspecified;">
                  {{ patientInfo.last_name }}
                </mat-label>
              </div>
              <mat-divider></mat-divider>
              <div class="form-field">
                <mat-label>Rodné číslo:</mat-label>
                <mat-label *ngIf="basicInfoForm.controls['birthNumber'].valid else unspecified;">
                  {{ patientInfo.birth_number }}
                </mat-label>
              </div>
              <mat-divider></mat-divider>
              <div class="form-field">
                <mat-label>Pojištovna:</mat-label>
                <mat-label *ngIf="basicInfoForm.controls['insuranceCompany'].valid else unspecified;">
                  {{ patientInfo.insurance_company }}
                </mat-label>
              </div>
              <mat-divider></mat-divider>
              <div class="form-field">
                <mat-label>Telefon:</mat-label>
                <mat-label *ngIf="basicInfoForm.controls['phone'].valid else unspecified;">
                  {{ patientInfo.phone }}
                </mat-label>
              </div>
              <mat-divider></mat-divider>
              <div class="form-field">
                <mat-label>E-mail:</mat-label>
                <mat-label *ngIf="basicInfoForm.controls['email'].valid else unspecified;">
                  {{ patientInfo.email }}
                </mat-label>
              </div>
            </mat-card-content>
          </mat-card>

          <mat-card class="py-0">
            <mat-card-content>
              <ng-container *ngFor="let q of patientInfo.questions; let i = index">
                <div class="form-field">
                  <mat-label>{{ q.label }}</mat-label>
                  <mat-label [ngSwitch]="q.value">
                    <span *ngSwitchCase="'true'">Ano</span>
                    <span *ngSwitchCase="'false'">Ne</span>
                    <ng-container *ngSwitchDefault [ngTemplateOutlet]="unspecified"></ng-container>
                  </mat-label>
                </div>
                <mat-divider *ngIf="i < patientInfo.questions.length - 1"></mat-divider>
              </ng-container>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="checkboxes">
          <mat-checkbox [(ngModel)]="confirmationCheckboxValue">
            Potvrzuji, že jsem nezamlčel/a žádné informace o svém zdravotním stavu.
          </mat-checkbox>

          <mat-checkbox [(ngModel)]="agreementCheckboxValue">
            Souhlasím s aplikací očkovací látky proti onemocnění COVID-19.
          </mat-checkbox>
        </div>

        <div class="nav-buttons">
          <button color="secondary" mat-raised-button matStepperPrevious>Předchozí krok</button>
          <button color="primary" mat-raised-button
                  (click)="submit()"
                  [disabled]="!canSubmit"
                  matStepperNext>Odeslat požadavek</button>
        </div>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</main>

<footer>
  <span>Powered by </span><a href="https://mild.blue" target="_blank">mild.blue</a>
</footer>

<ng-template #unspecified>
  <span class="unspecified">
    Neuvedeno
  </span>
</ng-template>

