@import "../variables";

body {
  display: flex;
  flex-direction: column;
  background: $light;
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  &, * {
    box-sizing: border-box;
  }
}
