@import "../variables";

body {
  display: flex;
  flex-direction: column;
  background: $body-bg;
  color: $body-color;
  height: 100%;
  margin: 0;
  font-family: $font-family-base;

  &, * {
    box-sizing: border-box;
  }

  .grecaptcha-badge {
    display: none;
  }
}
