<mat-toolbar color="primary">
  <span>Administrační sekce</span>
  <button mat-button (click)="logOut()">
    Odhlásit
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<div class="progress-bar__holder"
     [class.visible]="loading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<main>
  <ng-container *ngIf="patient then results else search"></ng-container>
</main>

<ng-template #results>
  <app-container [wide]="true">
    <app-back-button (click)="searchAgain()">
      Vyhledat jiného pacienta
    </app-back-button>

    <h1 class="mat-h1">
      <span>Nalezený pacient</span>
    </h1>

    <app-patient-data [patientData]="patient"></app-patient-data>
  </app-container>
</ng-template>

<ng-template #search>
  <app-container>
    <h1 class="mat-h1">Vyhledávání pacienta</h1>
    <mat-card>
      <mat-card-content>
        <form (ngSubmit)="onSubmit()">
          <mat-form-field>
            <mat-label>Rodné číslo očkovaného</mat-label>
            <input matInput [(ngModel)]="personalNumber"
                   placeholder="Zadejte rodné číslo"
                   name="personalNumber"
                   #personalNumber="ngModel"
                   required personalNumberValidator>
            <mat-hint>Rodné číslo ve formátu RRMMDD/ČČČ(Č)</mat-hint>
          </mat-form-field>
          <button color="primary"
                  [disabled]="personalNumber.invalid || submitted"
                  mat-raised-button>
            Vyhledat pacienta
          </button>
        </form>
      </mat-card-content>
    </mat-card>

    <div class="history__header">
      <h3 class="mat-h3">Historie vyhledávání</h3>
      <button *ngIf="searchHistory.length"
              (click)="clearHistory()" mat-button color="warn">
        Vymazat historii
      </button>
    </div>

    <mat-card class="history">
      <div *ngFor="let query of searchHistory">
        <div class="history__item">
          <span>{{ query }}</span>
          <button (click)="findPatient(query)" mat-button color="primary">Hledat znovu</button>
        </div>
        <mat-divider></mat-divider>
      </div>
    </mat-card>

  </app-container>
</ng-template>
