<mat-toolbar color="primary">
  <span>Administrační sekce</span>
</mat-toolbar>

<main>
  <app-container>
    <h1 class="mat-h1">Vyhledávání pacienta</h1>
    <mat-card>
      <mat-card-content>
        <form (ngSubmit)="onSubmit()">
          <mat-form-field class="">
            <mat-label>Rodné číslo očkovaného</mat-label>
            <input matInput [formControl]="personalNumber" placeholder="Zadejte rodné číslo" required>
            <mat-hint>Rodné číslo ve formátu RRMMDD/ČČČ(Č)</mat-hint>
          </mat-form-field>
          <button color="primary"
                  [disabled]="personalNumber.invalid"
                  mat-raised-button>
            Vyhledat pacienta
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </app-container>
</main>
