<main>
  <app-container [wide]="true">
    <h1 class="mat-h1">Editace údajů pacienta</h1>

    <div *ngIf="patient" class="patient-form">
      <app-patient-info-form></app-patient-info-form>
      <app-patient-questions-form [patient]="patient"></app-patient-questions-form>
    </div>

    <div class="buttons">
      <button mat-flat-button>Zrušit</button>
      <button mat-raised-button color="success">
        Uložit změny
        <mat-icon>save</mat-icon>
      </button>
    </div>
  </app-container>
</main>
