<mat-card *ngIf="patient">
  <mat-card-content>
    <form>
      <ng-container *ngFor="let answer of patient.answers; let i = index">
        <app-form-field>
          <mat-label>{{ answer.label }}</mat-label>
          <mat-button-toggle-group [(ngModel)]="answer.value" [name]="answer.name">
            <mat-button-toggle [value]="true" [class.true]="answer.value === true">Ano</mat-button-toggle>
            <mat-button-toggle [value]="false" [class.false]="answer.value === false">Ne</mat-button-toggle>
          </mat-button-toggle-group>
        </app-form-field>
        <mat-divider *ngIf="i < patient.answers.length - 1"></mat-divider>
      </ng-container>
    </form>
  </mat-card-content>
</mat-card>
