<app-progress-loading [show]="loading"></app-progress-loading>

<app-container [wide]="true">
  <app-back-button (click)="searchAgain()">
    Vyhledat jiného pacienta
  </app-back-button>

  <h1 class="mat-h1">Nalezený pacient</h1>

  <app-patient-data [patientData]="patient" [showVaccinationDate]="true"></app-patient-data>

  <div *ngIf="patient" class="buttons">
    <button mat-button [routerLink]="['/admin/edit', patient.id]" color="primary">
      Editovat údaje pacienta
      <mat-icon>create</mat-icon>
    </button>
    <ng-container [ngSwitch]="!patient.verifiedOn && 'notVerified'">
      <ng-container *ngSwitchCase="'notVerified'">
        <button mat-raised-button (click)="verify()" color="success">
          Potvrdit správnost údajů
          <mat-icon>check</mat-icon>
        </button>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <button *ngIf="patient.vaccinatedOn === undefined" mat-raised-button (click)="vaccinate()" color="warn">
          Potvrdit proběhlé očkování
          <mat-icon>check</mat-icon>
        </button>
      </ng-container>
    </ng-container>
  </div>
</app-container>
