@import "../../../styles/variables";
@import "../../../styles/breakpoints";

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  .label {

    @include media-breakpoint-down(sm) {
      position: relative;
    }

    label {
      font-weight: 700;
      margin-bottom: 5px;
    }

    mat-icon {
      color: $primary;

      font-size: 14px;
      position: relative;
      top: 1px;
      margin: 0 10px;
    }

    .tooltip {
      position: absolute;
      z-index: 10;
      top: 10px;
      left: 100%;
      width: 350px;
      background: $primary;
      color: $white;
      line-height: 1.5;
      padding: 10px 15px;
      border-radius: 6px;
      transform: translateY(-50%);
      font-size: 12px;

      display: none;

      @include media-breakpoint-down(sm) {
        top: 100%;
        transform: none;
        left: 0;

        max-width: calc(100vw - 138px);
      }

      &-holder {
        position: relative;
        display: inline-block;
        cursor: pointer;

        @include media-breakpoint-down(sm) {
          position: unset;
        }
      }

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 100%;
        transform: translateY(-50%);

        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;

        border-left: 15px solid transparent;
        border-right: 15px solid $primary;

        @include media-breakpoint-down(sm) {
          display: none;
        }
      }

      &.visible {
        display: block;
      }
    }
  }

  &.invalid {
    color: $danger;

    ::ng-deep {
      input, textarea, mat-select, ngx-mat-intl-tel-input {
        &, &:focus {
          border-color: rgba($danger, 0.5);
        }
      }
    }
  }

  .note, .error {
    margin-top: 5px;
    font-size: 90%;
  }

  .note {
    color: $gray-500;
  }

  ::ng-deep {
    input, textarea, mat-select, ngx-mat-intl-tel-input {

      padding: 8px 15px;
      line-height: 25px;
      font-size: 14px;
      font-family: inherit;
      border-radius: 6px;
      -webkit-appearance: none;
      color: $black;
      border: 1px solid $gray-300;
      background: $white;
      transition: border .3s ease;
      position: relative;

      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $gray-400;
      }

      &::-moz-placeholder { /* Firefox 19+ */
        color: $gray-400;
      }

      &:-ms-input-placeholder { /* IE 10+ */
        color: $gray-400;
      }

      &:-moz-placeholder { /* Firefox 18- */
        color: $gray-400;
      }

      ::ng-deep .mat-select-placeholder, &.ng-pristine.ng-invalid {
        color: $gray-400;
      }

      &:focus {
        outline: none;
        border-color: $accent;
      }

      &[disabled] {
        color: $gray-800;
        background: $light;
      }

      &.large {
        font-weight: 700;
        font-size: 20px;
      }
    }
  }
}
