@import "../../../styles/variables";

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  label {
    font-weight: 700;
    margin-bottom: 5px;
  }

  ::ng-deep {
    input, textarea {
      background: $light;
      border: 1px solid $gray-200;
      border-radius: 6px;
      padding: 14px 15px;

      &::-webkit-input-placeholder, &::-moz-placeholder, &:-ms-input-placeholder {
        color: $gray-100;
      }

      &[disabled] {
        color: $gray-800;
        background: $light;
      }

      &.large {
        font-weight: 700;
        font-size: 20px;
      }
    }
  }
}
