<div class="form-field" [class.invalid]="invalid">

  <div class="label">
    <label *ngIf="label">{{ label }}</label>

    <div *ngIf="info" class="tooltip-holder"
         (mouseover)="tooltip.classList.add('visible')"
         (mouseleave)="tooltip.classList.remove('visible')"
         (click)="tooltip.classList.toggle('visible')">
      <mat-icon>help_outline</mat-icon>
      <div #tooltip class="tooltip">
        {{ info }}
      </div>
    </div>
  </div>

  <ng-content></ng-content>

  <div *ngIf="note && !invalid" class="note">
    {{ note }}
  </div>

  <ng-container *ngIf="invalid">
    <div class="error" *ngIf="errors?.required">
      Tato položka je povinná.
    </div>
    <div class="error" *ngIf="!errors?.required && errors?.personalNumberInvalid">
      Rodné číslo musí odpovídat formátu RRMMDD/ČČČ(Č)
    </div>
    <div class="error" *ngIf="!errors?.required && errors?.postalCodeInvalid">
      PSČ musí odpovídat formátu XXX XX
    </div>
  </ng-container>

</div>
