<div class="form-field" [class.invalid]="invalid">
  <label *ngIf="label">{{ label }}</label>

  <!--  {{errors | json}}-->
  <ng-content></ng-content>

  <div *ngIf="note && !invalid" class="note">
    {{ note }}
  </div>

  <ng-container *ngIf="invalid">
    <div class="error" *ngIf="errors?.required">
      Tato položka je povinná.
    </div>
    <div class="error" *ngIf="!errors?.required && errors?.personalNumberInvalid">
      Rodné číslo musí odpovídat formátu RRMMDD/ČČČ(Č)
    </div>
    <div class="error" *ngIf="!errors?.required && errors?.postalCodeInvalid">
      PSČ musí odpovídat formátu XXX XX
    </div>
  </ng-container>

</div>
