@import "../../../styles/variables";

.chip {
  padding: 2px 5px;
  border-radius: 4px;

  &.no {
    background: rgba($success, 0.2);
    color: $success;
  }

  &.yes {
    background: rgba($danger, 0.2);
    color: $danger;
  }

  &.maybe {
    background: $warning-bg;
    color: $warning-color;
  }
}
