<mat-toolbar color="primary">
  <span>Dotazník před očkováním proti nemoci COVID-19</span>
</mat-toolbar>

<main>
  <mat-horizontal-stepper [linear]="true">
    <mat-step [completed]="patientForm.valid" label="Osobní informace">
      <app-container>
        <form #patientForm="ngForm">
          <app-patient-info-form [patient]="patient"></app-patient-info-form>
        </form>

        <div class="nav-buttons">
          <div></div>
          <button [disabled]="patientForm.invalid"
                  color="primary" mat-raised-button matStepperNext>
            Další krok
          </button>
        </div>
      </app-container>
    </mat-step>
    <mat-step label="Zdravotní informace" [completed]="canProceedToStep3">
      <app-container>
        <app-patient-questions-form [patient]="patient"></app-patient-questions-form>
        <div class="nav-buttons">
          <button color="secondary" mat-raised-button matStepperPrevious>
            Předchozí krok
          </button>
          <button [disabled]="!canProceedToStep3"
                  color="primary" mat-raised-button matStepperNext>
            Další krok
          </button>
        </div>
      </app-container>
    </mat-step>
    <mat-step label="Odeslání požadavku">
      <app-container [wide]="true">
        <app-patient-data *ngIf="canProceedToStep3" [patientData]="patient"></app-patient-data>

        <div class="checkboxes">
          <mat-checkbox [(ngModel)]="confirmationCheckboxValue">
            Potvrzuji, že jsem nezamlčel/a žádné informace o svém zdravotním stavu.
          </mat-checkbox>

          <mat-checkbox [(ngModel)]="agreementCheckboxValue">
            Souhlasím s aplikací očkovací látky proti onemocnění COVID-19.
          </mat-checkbox>

          <mat-checkbox [(ngModel)]="gdprCheckboxValue">
            Souhlasím se
            <button mat-button color="primary" (click)="openGdprInfo()">zpracováním osobních údajů</button>
            .
          </mat-checkbox>
        </div>

        <div class="nav-buttons">
          <button color="secondary" mat-raised-button matStepperPrevious>
            Předchozí krok
          </button>
          <button (click)="submit()"
                  [disabled]="!canSubmit"
                  color="primary" mat-raised-button matStepperNext>
            Odeslat požadavek
          </button>
        </div>
      </app-container>
    </mat-step>
  </mat-horizontal-stepper>
</main>

