<app-header title="Dotazník před očkováním proti nemoci COVID-19"></app-header>

<main>
  <mat-horizontal-stepper #stepper [linear]="true">

    <!-- 1. Osobní informace -->
    <mat-step #firstStep [completed]="!missingInfo.length" label="Osobní informace">
      <app-container (keydown.enter)="stepper.next()" [wide]="true">
        <app-patient-info-form [patient]="patient"
                               (missingInfo)="this.missingInfo = $event"
                               (patientUpdated)="updatePatient($event)"></app-patient-info-form>

        <div *ngIf="missingInfo.length" class="missing-info-warning">
          <mat-icon>warning</mat-icon>
          <span>Pro pokračování vyplňte následující informace: <strong>{{ missingInfo.join(', ') }}</strong>.</span>
        </div>

        <div class="nav-buttons">
          <div></div>
          <button [disabled]="!firstStep.completed"
                  color="primary" mat-raised-button matStepperNext>
            Další krok
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </div>
      </app-container>
    </mat-step>

    <!-- 2. Zdravotní informace -->
    <mat-step #secondStep [completed]="firstStep.completed && allQuestionsAnswered" label="Zdravotní informace">
      <app-container *ngIf="firstStep.completed">
        <app-patient-questions-form [patient]="patient"></app-patient-questions-form>

        <!--  TODO: [showIcon]="true" -->
        <app-warning>
          Pokud na některou z uvedených otázek odpovíte ANO, neznamená to, že nemůžete být očkován/a.
        </app-warning>

        <div class="nav-buttons">
          <button color="secondary" mat-raised-button matStepperPrevious>
            <mat-icon>arrow_back</mat-icon>
            Předchozí krok
          </button>
          <button [disabled]="!secondStep.completed"
                  color="primary" mat-raised-button matStepperNext>
            Další krok
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </div>
      </app-container>
    </mat-step>

    <!-- 3. Odeslání požadavku -->
    <mat-step #thirdStep [completed]="!!confirmationCheckboxValue && !!agreementCheckboxValue && !!gdprCheckboxValue" label="Odeslání požadavku">
      <app-container [wide]="true">
        <app-patient-data [patientData]="patient"></app-patient-data>

        <div class="checkboxes">
          <mat-checkbox [(ngModel)]="confirmationCheckboxValue">
            Potvrzuji, že jsem nezamlčel/a žádné informace o svém zdravotním stavu.
          </mat-checkbox>

          <mat-checkbox [(ngModel)]="agreementCheckboxValue">
            Souhlasím s aplikací očkovací látky proti onemocnění COVID-19.
          </mat-checkbox>

          <mat-checkbox [(ngModel)]="gdprCheckboxValue">
            Souhlasím se
            <button mat-button color="primary" (click)="openGdprInfo()">zpracováním osobních údajů</button>
            .
          </mat-checkbox>
        </div>

        <div class="nav-buttons">
          <button color="secondary" mat-raised-button matStepperPrevious>
            <mat-icon>arrow_back</mat-icon>
            Předchozí krok
          </button>
          <button (click)="submit()"
                  [disabled]="!thirdStep.completed"
                  color="primary" mat-raised-button matStepperNext>
            Odeslat požadavek
            <mat-icon>done</mat-icon>
          </button>
        </div>
      </app-container>
    </mat-step>
  </mat-horizontal-stepper>
</main>

<app-cookies></app-cookies>
