@import "../../../styles/variables";
@import "../../../styles/breakpoints";

.cookies {
  background: $white;
  font-size: 12px;
  color: $body-color;
  border-radius: 6px;
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;

  position: fixed;
  bottom: 30px;
  left: 30px;
  width: 25%;
  min-width: 350px;
  padding: 10px;

  z-index: 100;

  @include media-breakpoint-down(sm) {
    width: calc(100vw - 60px);
    min-width: 0;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      margin: 0;
    }

    button {
      font-size: 12px;
      line-height: 25px;
      padding: 0 10px;
      min-width: 50px;
      margin-left: 20px;
    }
  }
}
