@import "../../../styles/variables";

.cookies {
  background: $gray-800;
  box-shadow: 0 -1px 2px 0 rgba($gray-800, 30%);
  font-size: 12px;
  color: $white;

  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 3px 0;

  z-index: 100;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      margin: 0;
    }

    button {
      font-size: 12px;
      color: $gray-800;
      line-height: 20px;
      padding: 0 10px;
      min-width: 0;
      margin-left: 20px;
    }
  }
}
