<mat-card *ngIf="patient">
  <mat-card-content [class.vertical]="vertical">

    <form [formGroup]="form">
      <div class="row">
        <app-form-field label="Jméno *" [invalid]="isControlInvalid('firstName')" [errors]="getControlErrors('firstName')">
          <input formControlName="firstName" name="firstName" placeholder="Vaše jméno" required maxlength="256">
        </app-form-field>

        <app-form-field label="Příjmení *" [invalid]="isControlInvalid('lastName')" [errors]="getControlErrors('lastName')">
          <input formControlName="lastName" name="lastName" placeholder="Vaše příjmení" required maxlength="256">
        </app-form-field>
      </div>

      <div class="row">
        <div>
          <mat-button-toggle-group name="isForeigner" [value]="patient.isForeigner">
            <mat-button-toggle [value]="false" (click)="patient.isForeigner = false;">Jsem občan ČR</mat-button-toggle>
            <mat-button-toggle [value]="true" (click)="patient.isForeigner = true;">Jsem cizinec</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>

      <div class="row">
        <app-form-field label="Rodné číslo *" note="Rodné číslo ve formátu RRMMDD/ČČČ(Č)" *ngIf="!patient.isForeigner"
                        [invalid]="isControlInvalid('personalNumber')" [errors]="getControlErrors('personalNumber')">
          <input formControlName="personalNumber" name="personalNumber" placeholder="Vaše rodné číslo"
                 mask="000000/0009" [showMaskTyped]="patient.personalNumber === undefined || patient.personalNumber.length < 10"
                 required appPersonalNumberValidator>
        </app-form-field>

        <app-form-field label="Číslo pojištěnce *" note="Číslo pojištěnce uvedené na kartičce zdravotní pojišťovny" *ngIf="patient.isForeigner"
                        [invalid]="isControlInvalid('insuranceNumber')" [errors]="getControlErrors('insuranceNumber')">
          <input formControlName="insuranceNumber" name="insuranceNumber" placeholder="Vaše číslo pojištěnce" required maxlength="256">
        </app-form-field>

        <app-form-field label="Zdravotní pojišťovna *" note="Vyberte ze seznamu zdravotních pojišťoven"
                        [invalid]="isControlInvalid('insuranceCompany')" [errors]="getControlErrors('insuranceCompany')">
          <mat-select formControlName="insuranceCompany" placeholder="Vyberte Vaší zdravotní pojišťovnu" required>
            <mat-option *ngFor="let insuranceCompany of allInsuranceCompanies" [value]="insuranceCompany.code">
              {{insuranceCompany.name}} - {{insuranceCompany.csFullName}}
              <ng-container *ngIf="insuranceCompany.numericCode">
                ({{insuranceCompany.numericCode}})
              </ng-container>
            </mat-option>
          </mat-select>
        </app-form-field>
      </div>

      <div class="row">
        <app-form-field label="Město / městská část *" [invalid]="isControlInvalid('district')" [errors]="getControlErrors('district')">
          <input formControlName="district" name="district" placeholder="Vaše město (nebo městská část)" required maxlength="128">
        </app-form-field>

        <app-form-field label="PSČ *" [invalid]="isControlInvalid('zipCode')" [errors]="getControlErrors('zipCode')">
          <input formControlName="zipCode" name="zipCode" placeholder="Vaše PSČ" mask="000 00" [showMaskTyped]="true" required appPostalCodeValidator>
        </app-form-field>
      </div>

      <div class="row">
        <app-form-field label="Telefonní číslo *"
                        info="Na toto telefonní číslo obdržíte autorizační kód k certifikátu o provedeném očkování. Z tohoto důvodu je zde nutné uvést tel. číslo na mobil. Pokud jej nevlastníte, lze zadat tel. číslo blízké osoby."
                        [invalid]="isControlInvalid('phoneNumber')" [errors]="getControlErrors('phoneNumber')">
          <ngx-mat-intl-tel-input formControlName="phoneNumber" name="phoneNumber"
                                  [preferredCountries]="['cz', 'sk', 'de', 'at', 'pl']"
                                  [enablePlaceholder]="true"
                                  [enableSearch]="false"
                                  [format]="'national'"
                                  [required]="true"
                                  class="ngx-floating"
                                  inputPlaceholder="Vaše telefonní číslo"></ngx-mat-intl-tel-input>
        </app-form-field>

        <app-form-field label="E-mail *"
                        info="Na tuto e-mailovou adresu vám bude doručeno potvrzení o provedené registraci a následně certifikát o provedeném očkování. Pokud e-mail nemáte, lze zadat e-mailovou adresu blízké osoby."
                        [invalid]="isControlInvalid('email')" [errors]="getControlErrors('email')">
          <input formControlName="email" name="email" placeholder="Váš e-mail" required maxlength="256" appEmailValidator>
        </app-form-field>
      </div>

      <ng-container *ngIf="showExtraFields">

        <app-form-field label="Indikace" [invalid]="isControlInvalid('indication')" [errors]="getControlErrors('indication')">
          <input formControlName="indication" name="indication" placeholder="Indikace pacienta (zdravotník, učitel, senior, soc. pracovník)" maxlength="256">
        </app-form-field>

        <!-- TODO: *Feature* Enable editing vaccinationDate on BE -->
        <!--            <mat-form-field *ngIf="patient.vaccinatedOn" floatLabel="always">-->
        <!--              <mat-label>Datum vakcinace</mat-label>-->
        <!--              <input [matDatepicker]="$any(picker)"-->
        <!--                     [(ngModel)]="patient.vaccinatedOn"-->
        <!--                     [min]="minVaccinationDate"-->
        <!--                     [max]="maxVaccinationDate"-->
        <!--                     (click)="picker.open()"-->
        <!--                     readonly-->
        <!--                     name="vaccinatedOn" matInput>-->
        <!--              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
        <!--              <mat-datepicker #picker></mat-datepicker>-->
        <!--            </mat-form-field>-->
      </ng-container>
    </form>
  </mat-card-content>
</mat-card>
