@import "../../../styles/breakpoints";

mat-card-content:not(.vertical) .row {
  display: flex;
  margin: 0 -13px;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
  }

  > * {
    flex: 1;
    margin-left: 13px;
    margin-right: 13px;

    @include media-breakpoint-down(sm) {
      width: 100%;
      margin: 0;
    }
  }
}

::ng-deep .country-selector {
  padding-right: 18px !important;
}

mat-card {
  height: 100%;
  padding: 30px;
}
