<main>
  <app-container>
    <app-back-button routerLink="/">
      Zpět k formuláři pro pacienta
    </app-back-button>
    <h1>Vstup do administrativní sekce</h1>
    <div class="content">
      <mat-card>
        <mat-card-content>

          <div class="stepper">
            <ul>
              <li [class.active]="activeStep === 1" (click)="cancel()"><span>1</span></li>
              <li [class.active]="activeStep === 2"><span>2</span></li>
            </ul>
          </div>

          <div class="form step-{{ activeStep }}">
            <form [formGroup]="loginForm" class="login-form" [class.visible]="activeStep === 1">
              <div>
                <app-form-field label="Přihlašovací jméno">
                  <input formControlName="username" placeholder="Vaše přihlašovací jméno" required>
                </app-form-field>
                <app-form-field label="Heslo">
                  <input formControlName="password" placeholder="Vaše heslo" type="password" required>
                </app-form-field>
              </div>
              <button (click)="getNurses()"
                      [disabled]="loginForm.invalid || loading"
                      color="primary" mat-raised-button>
                Pokračovat
                <mat-icon *ngIf="!loading">arrow_right_alt</mat-icon>
              </button>
            </form>

            <form [formGroup]="nurseForm" class="nurse-form" [class.visible]="activeStep === 2">
              <div>
                <div *ngIf="email" class="user">
                  <div>
                    <span>Uživatel:</span> <strong>{{ email }}</strong>
                  </div>
                  <button (click)="cancel()" mat-button color="primary" type="button">Zrušit</button>
                </div>
                <app-form-field label="Sestra">
                  <mat-select formControlName="nurseId" [placeholder]="'Vyberte sestru'" required>
                    <mat-option *ngFor="let nurse of nurses" [value]="nurse.id">
                      {{ nurse.firstName }} {{ nurse.lastName }}
                    </mat-option>
                  </mat-select>
                </app-form-field>

                <app-form-field label="Číslo šarže vakcíny">
                  <input formControlName="vaccineSerialNumber" placeholder="Zadejte číslo šarže vakcíny" required>
                </app-form-field>

                <app-form-field label="Datum expirace vakcíny">
                  <div class="datepicker">
                    <input formControlName="vaccineExpiration" placeholder="Zadejte datum expirace vakcíny"
                           (click)="picker.open()" readonly
                           required [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </div>
                </app-form-field>
              </div>
              <button (click)="login()"
                      type="submit"
                      [disabled]="nurseForm.invalid || loading"
                      color="primary" mat-raised-button>
                Přihlásit
                <mat-icon *ngIf="!loading">check</mat-icon>
              </button>
            </form>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </app-container>
</main>
