@import "../../../styles/variables";

.warning {
  margin: 30px auto;
  padding: 15px 30px;
  background: $warning-bg;
  color: $warning-color;
  border: 1px solid $warning-border-color;
  border-radius: 6px;

  display: flex;
  align-items: center;

  mat-icon {
    margin-right: 20px;
  }
}
