@import "../../../styles/variables";

.success {
  display: flex;
  justify-content: center;
  color: $success;
  margin: 40px 0;

  h1 {
    margin: 0 0 0 20px;
    padding-top: 5px;
  }
}

.confirmation {

  h3 {
    margin-bottom: 40px;
  }

  mat-card-content {
    padding: 15px 30px 30px;
  }

  .time {
    font-weight: 900;
    font-size: 36px;
    text-align: center;
    margin: 40px 0;
  }

  .place {
    line-height: 1.6;

    &-address {
      display: flex;
      margin-bottom: 20px;
    }

    &-contact {
      display: flex;
      align-items: center;
      font-weight: 700;
      margin-bottom: 10px;
    }

    mat-icon {
      margin-right: 15px;
      color: $primary;
    }
  }
}

h2 {
  margin-top: 40px;
}

.nav-button {
  margin: 0 auto;
  display: block;
}

main {
  margin-top: 30px;
}
