@import "../../../styles/variables";

.success {
    margin-bottom: 30px;

    &__header {
        display: flex;
        justify-content: center;
        color: $success;
        padding: 30px 0;

        h1 {
            margin: 0 0 0 20px;
        }
    }

    &__content {
        text-align: center;
        line-height: 1.6;
        padding-bottom: 30px;
    }
}

.nav-button {
    margin: 0 auto;
    display: block;
}

main {
    margin-top: 30px;
}
