<mat-toolbar color="primary">
  <span>Dotazník před očkováním proti nemoci COVID-19</span>
</mat-toolbar>

<main>
  <app-container [wide]="true">
    <div class="success">
      <app-check-mark></app-check-mark>
      <h1 class="mat-h1">Registrace proběhla úspěšně</h1>
    </div>

    <div class="confirmation">
      <mat-card>
        <mat-card-content>
          <ng-container *ngIf="confirmation">
            <h2>Váš rezervovaný termín:</h2>
            <div class="time">
              {{ confirmation.from | date:"d.M.yyyy HH:mm" }} - {{ confirmation.to | date:"HH:mm" }}
            </div>
          </ng-container>

          <ng-container *ngIf="location">
            <h2>Dostavte se v uvedený termín na adresu:</h2>
            <div class="place">
              <div class="place-info">
                <div class="place-address">
                  <mat-icon>place</mat-icon>
                  <div>
                    {{ location.address }}<br>
                    {{ location.district }}, {{ location.zipCode | zipCode }}<br>
                    {{ location.notes }}
                  </div>
                </div>
                <div class="place-contact" *ngIf="location.phoneNumber">
                  <mat-icon>phone_outline</mat-icon>
                  <a href="tel:{{ location.phoneNumber }}">{{ location.phoneNumber | phoneNumber }}</a>
                </div>
                <div class="place-contact" *ngIf="location.email">
                  <mat-icon>mail_outline</mat-icon>
                  <a href="mailto:{{ location.email }}">{{ location.email }}</a>
                </div>
              </div>

              <div class="place-map">
                <div id="map"></div>
              </div>
            </div>


          </ng-container>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="info">
      <h2>Dodržujte zásady:</h2>
      <mat-card>
        <mat-card-content>
          <ul>
            <li>dostavte se na místo očkování nejdříve s desetiminutovým předstihem</li>
            <li>vhodné oblečení - tričko nebo košili s krátkým rukávem</li>
            <li>přicházejte samostatně; maximálně v doprovodu jedné osoby</li>
            <li>do očkovacího centra nevnášejte rozměrná zavazadla, batohy, zbraně</li>
            <li>v místě očkování dodržujte hygienická pravidla: mějte RESPIRÁTOR (typu FFP2 nebo N95, případně nanorouška), dodržujte bezpečné ROZESTUPY (2m)</li>
            <li>v místě očkování platí zákaz konzumace potravin a nápojů</li>
          </ul>
        </mat-card-content>
      </mat-card>

      <h2>K očkování nechoďte, pokud:</h2>
      <mat-card>
        <mat-card-content>
          <ul>
            <li>máte zvýšenou tělesnou teplotu</li>
            <li>máte aktuálně zhoršený zdravotní stav v důsledku jiného onemocnění</li>
            <li>Vám očkování v současné době nedoporučil Váš praktický lékař</li>
          </ul>
        </mat-card-content>
      </mat-card>

      <h2>Kde naleznete certifikát o očkování?</h2>
      <mat-card>
        <mat-card-content>
          <p>Na portálu <a href="https://ocko.uzis.cz" target="_blank">ocko.uzis.cz</a> (Očkovací portál občana) lze certifikát stáhnout a vytisknout.
            Certifikát Vám bude zároveň poslán e-mailem, který jste zadávali při registraci na očkování.
            V případě dotazů se obraťte na infolinku Prahy 7 každý všední den od 8:00 do 16:00 hodin na čísle: {{ location ? (location.phoneNumber | phoneNumber) : '734 521 840' }}
          </p>
          <p>Aktuality najdete na: <a href="https://www.praha7.cz/ockovani" target="_blank">www.praha7.cz/ockovani</a></p>
          <p>Další informace naleznete <a href="https://koronavirus.mzcr.cz/ockovani-proti-covid-19/" target="_blank">zde</a>.</p>
          <br>
          <br>
          <p>Děkujeme, že svým očkováním chráníte sebe i ostatní a přispíváte k návratu k běžnému životu.</p>
          <br>
          <p>Na viděnou v ZŠ Strossmayerovo náměstí.</p>
          <i>MČ Praha 7 a tým Mild Blue</i>
        </mat-card-content>
      </mat-card>
    </div>

  </app-container>

  <app-container *ngIf="patientData" [wide]="true">
    <h2 class="mat-h2">Shrnutí zadaných údajů</h2>
    <app-patient-data [patientData]="patientData"></app-patient-data>

    <app-warning>
      Pokud vidíte chybu v zadaných údajích, anebo je chcete změnit, kontaktujte nás prosím na
      <a href="mailto:{{ companyEmail }}?subject=Požadavek na úpravu osobních údajů pacienta r.č. {{ patientData.personalNumber }}">{{ companyEmail }}</a>.
    </app-warning>

    <button color="primary" class="nav-button mt-30" (click)="handleStartAgain()" mat-raised-button>
      Registrovat další osobu
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </app-container>
</main>
