@import "../../../styles/variables";

.success {
  display: flex;
  justify-content: center;
  color: $success;
  margin: 40px 0;

  h1 {
    margin: 0 0 0 20px;
    padding-top: 5px;
  }
}

mat-card-content {
  font-size: 16px;
  line-height: 1.8;
  padding: 15px 30px;

  ul {
    margin: 0;
    padding: 0 0 0 20px;
  }
}

.confirmation {
  mat-card-content {
    padding-bottom: 30px;
  }

  .time {
    font-weight: 900;
    font-size: 36px;
    text-align: center;
    margin: 40px 0;
  }

  .place {
    display: flex;
    align-items: center;

    &-info {
      flex: 1;
      line-height: 1.6;

      mat-icon {
        margin-right: 20px;
        color: $primary;
      }
    }

    &-map {
      flex: 1;
      border-radius: 6px;
      overflow: hidden;

      #map {
        width: 100%;
        height: 250px;
      }
    }

    &-address {
      display: flex;
      margin-bottom: 30px;
    }

    &-contact {
      display: flex;
      align-items: center;
      font-weight: 700;
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.info {
  i {
    text-align: right;
    display: block;
    color: $primary;
    font-weight: 500;
  }
}

h2 {
  margin-top: 40px;
}

.nav-button {
  margin: 0 auto;
  display: block;
}

main {
  margin-top: 30px;
}
