<mat-dialog-content>
  <h2>Informace o zpracování osobních údajů</h2>
  <p>Vaše osobní údaje: jméno, příjmení, rodné číslo, zdravotní pojišťovna, tel. číslo, email a zdravotní stav bude
    zpracovávat Správce za účelem: Očkování vakcínou proti covid-19.
  <p>
  <p>Právní základ zpracování je Váš souhlas. Nedochází k profilování. Dochází k automatizovanému zpracování. Zpracování
    bude ukončeno spolu s ukončením očkování. Údaje budou uchovávány po nezbytně
    nutnou dobu v souladu se zák. 499/2004 o archivnictví a spisové službě a dalšími relevantními právními
    předpisy. </p>
  <p>Máte právo: odvolat svůj souhlas / na přístup k / na opravu / na výmaz / na omezení zpracování osobních údajů /
    podat stížnost u Úřadu pro ochranu osobních údajů / získat osobní údaje ve
    strukturovaném, strojově čitelném formátu.</p>
  <br>
  <p><strong>Správce:</strong> Úřad MČ Praha 7, U Průhonu 1338/38, 1700 Praha 7. Pověřenec pro ochranu osobních údajů:
    <a href="mailto:dpo@praha7.cz">dpo@praha7.cz</a>, 604590908.</p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="primary" mat-dialog-close>Zavřít</button>
</mat-dialog-actions>
