@import "../../../styles/variables";
@import "../../../styles/breakpoints";

.patient-data {
  display: flex;

  margin-left: -20px;
  margin-right: -20px;

  @include media-breakpoint-down(md) {
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
  }

  .form-field {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;

    @include media-breakpoint-down(md) {
      flex-direction: column;
      align-items: flex-start;

      > *:last-child {
        margin-top: 10px;
      }
    }

    mat-label {
      padding-right: 10px;
    }
  }

  mat-card {
    flex: 1;
    margin-left: 20px;
    margin-right: 20px;

    padding-top: 0;
    padding-bottom: 0;

    @include media-breakpoint-down(md) {
      width: 100%;
      margin: 0;

      &:last-child {
        margin-top: 20px;
      }
    }
  }

  .unspecified {
    padding: 2px 5px;
    border-radius: 4px;
    background: rgba($warning, 0.2);
    color: $warning;
  }
}
