<div *ngIf="patientData" class="patient-data">
  <mat-card>
    <mat-card-content>
      <app-form-field>
        <mat-label>Jméno:</mat-label>
        <mat-label *ngIf="patientData.firstName else unspecified;">
          {{ patientData.firstName }}
        </mat-label>
      </app-form-field>
      <mat-divider></mat-divider>
      <app-form-field>
        <mat-label>Příjmení:</mat-label>
        <mat-label *ngIf="patientData.lastName else unspecified;">
          {{ patientData.lastName }}
        </mat-label>
      </app-form-field>
      <mat-divider></mat-divider>
      <app-form-field>
        <mat-label>Rodné číslo:</mat-label>
        <mat-label *ngIf="patientData.personalNumber else unspecified;">
          {{ patientData.personalNumber }}
        </mat-label>
      </app-form-field>
      <mat-divider></mat-divider>
      <app-form-field>
        <mat-label>Pojištovna:</mat-label>
        <mat-label *ngIf="patientData.insuranceCompany else unspecified;">
          {{ patientData.insuranceCompany }}
        </mat-label>
      </app-form-field>
      <mat-divider></mat-divider>
      <app-form-field>
        <mat-label>Telefonní číslo:</mat-label>
        <mat-label *ngIf="patientData.phoneNumber else unspecified;">
          {{ patientData.phoneNumber }}
        </mat-label>
      </app-form-field>
      <mat-divider></mat-divider>
      <app-form-field>
        <mat-label>E-mail:</mat-label>
        <mat-label *ngIf="patientData.email else unspecified;">
          {{ patientData.email }}
        </mat-label>
      </app-form-field>
      <mat-divider></mat-divider>
      <ng-container *ngIf="showVaccinationDate">
        <app-form-field>
          <mat-label>Očkování proběhlo:</mat-label>
          <mat-label>
            <app-chip [value]="!!patientData.vaccinatedOn"></app-chip>
          </mat-label>
        </app-form-field>
        <mat-divider></mat-divider>
        <app-form-field *ngIf="patientData.vaccinatedOn">
          <mat-label>Datum očkování:</mat-label>
          <mat-label>
            {{ patientData.vaccinatedOn | date:'EEEE, d. MMMM y' }}
          </mat-label>
        </app-form-field>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>
      <ng-container *ngFor="let q of patientData.questionnaire; let i = index">
        <app-form-field>
          <mat-label>{{ q.label }}</mat-label>
          <mat-label *ngIf="q.answer !== undefined else unspecified;">
            <app-chip [value]="q.answer"></app-chip>
          </mat-label>
        </app-form-field>
        <mat-divider *ngIf="i < patientData.questionnaire.length - 1"></mat-divider>
      </ng-container>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #unspecified>
  <app-chip [value]="undefined"></app-chip>
</ng-template>
