<div *ngIf="patientData" class="patient-data">
  <mat-card>
    <mat-card-content>
      <app-form-field>
        <mat-label>Jméno:</mat-label>
        <mat-label *ngIf="patientData.firstName else unspecified;">
          {{ patientData.firstName }}
        </mat-label>
      </app-form-field>
      <mat-divider></mat-divider>
      <app-form-field>
        <mat-label>Příjmení:</mat-label>
        <mat-label *ngIf="patientData.lastName else unspecified;">
          {{ patientData.lastName }}
        </mat-label>
      </app-form-field>
      <mat-divider></mat-divider>
      <app-form-field>
        <mat-label>Rodné číslo:</mat-label>
        <mat-label *ngIf="patientData.personalNumber else unspecified;">
          {{ patientData.personalNumber }}
        </mat-label>
      </app-form-field>
      <mat-divider></mat-divider>
      <app-form-field>
        <mat-label>Pojištovna:</mat-label>
        <mat-label *ngIf="patientData.insuranceCompany else unspecified;">
          {{ patientData.insuranceCompany }}
        </mat-label>
      </app-form-field>
      <mat-divider></mat-divider>
      <app-form-field>
        <mat-label>Telefonní číslo:</mat-label>
        <mat-label *ngIf="patientData.phoneNumber else unspecified;">
          {{ patientData.phoneNumber }}
        </mat-label>
      </app-form-field>
      <mat-divider></mat-divider>
      <app-form-field>
        <mat-label>E-mail:</mat-label>
        <mat-label *ngIf="patientData.email else unspecified;">
          {{ patientData.email }}
        </mat-label>
      </app-form-field>
      <mat-divider></mat-divider>
      <ng-container *ngIf="showVaccinationDate">
        <app-form-field>
          <mat-label>Datum vakcinace:</mat-label>
          <mat-label *ngIf="patientData.vaccinatedOn else unspecified;">
            {{ patientData.vaccinatedOn | date:'EEEE, d. MMMM y, H:mm' }}
          </mat-label>
        </app-form-field>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>
      <ng-container *ngFor="let q of patientData.answers; let i = index">
        <app-form-field>
          <mat-label>{{ q.label }}</mat-label>
          <mat-label [ngSwitch]="q.value">
            <span *ngSwitchCase="true">Ano</span>
            <span *ngSwitchCase="false">Ne</span>
            <ng-container *ngSwitchDefault [ngTemplateOutlet]="unspecified"></ng-container>
          </mat-label>
        </app-form-field>
        <mat-divider *ngIf="i < patientData.answers.length - 1"></mat-divider>
      </ng-container>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #unspecified>
  <span class="unspecified">
    Neuvedeno
  </span>
</ng-template>
