<div *ngIf="patientData" class="patient-data">
  <mat-card>
    <mat-card-content>
      <app-patient-data-item>
        <mat-label>Jméno:</mat-label>
        <mat-label *ngIf="patientData.firstName else unspecified;">
          {{ patientData.firstName }}
        </mat-label>
      </app-patient-data-item>
      <mat-divider></mat-divider>
      <app-patient-data-item>
        <mat-label>Příjmení:</mat-label>
        <mat-label *ngIf="patientData.lastName else unspecified;">
          {{ patientData.lastName }}
        </mat-label>
      </app-patient-data-item>
      <mat-divider></mat-divider>
      <app-patient-data-item *ngIf="!patientData.isForeigner">
        <mat-label>Rodné číslo:</mat-label>
        <mat-label *ngIf="patientData.personalNumber else unspecified;">
          {{ patientData.personalNumber }}
        </mat-label>
      </app-patient-data-item>
      <app-patient-data-item *ngIf="patientData.isForeigner">
        <mat-label>Číslo pojištěnce:</mat-label>
        <mat-label *ngIf="patientData.insuranceNumber else unspecified;">
          {{ patientData.insuranceNumber }}
        </mat-label>
      </app-patient-data-item>
      <mat-divider></mat-divider>
      <app-patient-data-item>
        <mat-label>Město / městská část:</mat-label>
        <mat-label *ngIf="patientData.district else unspecified;">
          {{ patientData.district }}
        </mat-label>
      </app-patient-data-item>
      <mat-divider></mat-divider>
      <app-patient-data-item>
        <mat-label>PSČ:</mat-label>
        <mat-label *ngIf="patientData.zipCode else unspecified;">
          {{ patientData.zipCode }}
        </mat-label>
      </app-patient-data-item>
      <mat-divider></mat-divider>
      <app-patient-data-item>
        <mat-label>Pojištovna:</mat-label>
        <mat-label *ngIf="patientData.insuranceCompany else unspecified;">
          {{ patientData.insuranceCompany }}
        </mat-label>
      </app-patient-data-item>
      <mat-divider></mat-divider>
      <app-patient-data-item>
        <mat-label>Telefonní číslo:</mat-label>
        <mat-label *ngIf="patientData.phoneNumber else unspecified;">
          {{ patientData.phoneNumber | phoneNumber }}
        </mat-label>
      </app-patient-data-item>
      <mat-divider></mat-divider>
      <app-patient-data-item>
        <mat-label>E-mail:</mat-label>
        <mat-label *ngIf="patientData.email else unspecified;">
          {{ patientData.email }}
        </mat-label>
      </app-patient-data-item>
      <mat-divider></mat-divider>
      <ng-container *ngIf="showExtraFields">
        <app-patient-data-item>
          <mat-label>Indikace:</mat-label>
          <mat-label *ngIf="patientData.indication else unspecified;">
            {{ patientData.indication }}
          </mat-label>
        </app-patient-data-item>
        <mat-divider></mat-divider>
        <app-patient-data-item>
          <mat-label>Čas rezervace:</mat-label>
          <mat-label *ngIf="patientData.vaccinationSlotDtoOut else unspecified;">
            {{ patientData.vaccinationSlotDtoOut.from | date:'H:mm'}} -
            {{ patientData.vaccinationSlotDtoOut.to | date:'H:mm, EEEE, d. MMMM y ' }}
          </mat-label>
        </app-patient-data-item>
        <mat-divider></mat-divider>
        <app-patient-data-item>
          <mat-label>Validováno v ISIN:</mat-label>
          <mat-label>
            <app-chip [value]="!!patientData.isinId"></app-chip>
          </mat-label>
        </app-patient-data-item>
        <mat-divider></mat-divider>
        <app-patient-data-item>
          <mat-label>Ověření údajů proběhlo:</mat-label>
          <mat-label>
            <app-chip [value]="!!patientData.verified"></app-chip>
          </mat-label>
        </app-patient-data-item>
        <mat-divider></mat-divider>
        <app-patient-data-item>
          <mat-label>Očkování proběhlo:</mat-label>
          <mat-label>
            <app-chip [value]="!!patientData.vaccinatedOn"></app-chip>
          </mat-label>
        </app-patient-data-item>
        <mat-divider></mat-divider>
        <app-patient-data-item *ngIf="patientData.vaccinatedOn">
          <mat-label>Datum očkování:</mat-label>
          <mat-label>
            {{ patientData.vaccinatedOn | date:'EEEE, d. MMMM y' }}
          </mat-label>
        </app-patient-data-item>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>
      <ng-container *ngFor="let q of patientData.questionnaire">
        <app-patient-data-item>
          <mat-label>{{ q.label }}</mat-label>
          <mat-label *ngIf="q.answer !== undefined else unspecified;">
            <app-chip [value]="q.answer" [yesIsGreen]="false"></app-chip>
          </mat-label>
        </app-patient-data-item>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #unspecified>
  <app-chip [value]="undefined"></app-chip>
</ng-template>
