<configuration>
    <appender name="local" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{ISO8601}[%.-1level][remoteHost:%X{remote-host}][callId:%X{call-id}] %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="local"/>
    </root>

    <logger name="org.eclipse.jetty" level="INFO"/>
    <logger name="io.netty" level="INFO"/>

    <logger name="blue.mild" level="TRACE"/>

</configuration>
