@import "../../../styles/variables";

.container {
  max-width: $container-max-width;
  width: 100%;

  margin: auto;
  padding: 0 15px;

  position: relative;

  &--wide {
    max-width: $container-max-width--wide;
  }
}
