footer {
  padding: 80px 15px 60px;
  text-align: center;

  > * {
    opacity: .5;
  }

  a {
    color: black;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      color: #2D4496;
      opacity: 1;
    }
  }
}

.logo {
    width: 90px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    opacity: .5;
}
