footer {
  padding: 30px 15px;
  text-align: center;

  > * {
    opacity: .5;
  }

  a {
    color: black;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      color: #2D4496;
      opacity: 1;
    }
  }
}

.logo {
    width: 100px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    fill: #8b8b8b;
    filter: invert(60%) sepia(23%) saturate(8%) hue-rotate(346deg) brightness(87%) contrast(91%);
}