<mat-toolbar color="primary">
    <span>Úvodní stránka - Očkování proti COVID-19</span>
</mat-toolbar>

<app-container >
  <h1 class="mat-h1 mt-30">Registrační systém očkování</h1>
  <mat-card>
    <p>
      Očkování proběhne ve Vaší volební místnosti. Datum a čas naleznete pomocí Vašeho příjmení ve Vaší schránce. Pro vstup do registračního systému pokračujte dále.
    </p>
  </mat-card>
  <button class="mt-30" color="primary" mat-raised-button routerLink="/registration">
    Registrovat se
  </button>
</app-container>

