<app-header title="Registrace k očkování proti nemoci COVID-19"></app-header>

<main>
  <app-container [wide]="true">

    <div class="welcome">
      <div class="welcome__item">
        <img src="assets/vaccine-icon.svg" alt="Vaccine icon">
        <p>
          Sedmička a Poliklinika Prahy 7 pro vás zajistily možnost očkování proti nemoci COVID-19 vakcínou Comirnaty od společnosti
          <strong>Pfizer/BioNTech</strong>. <br>

          <ng-container *ngIf="statistics">
            <ng-container *ngIf="statistics.availableSlots > 0">
              Zbývá <strong>{{statistics.availableSlots}} volných termínů</strong>.
            </ng-container>
            <ng-container *ngIf="statistics.availableSlots == 0">
              Bohužel už není <strong>žádný volný termín</strong>.
            </ng-container>
          </ng-container>
        </p>
      </div>
      <div class="welcome__item">
        <mat-icon>place</mat-icon>
        <p>
          Očkování se uskuteční ve dvou pevně stanovených termínech v budově školy
          <strong>ZŠ Strossmayerovo náměstí</strong> (Strossmayerovo náměstí 4, Praha 7).
        </p>
      </div>
      <div class="welcome__item">
        <mat-icon>people</mat-icon>
        <p>
          K vakcinaci se mohou přihlásit zájemci ve věku <strong>od 16 let</strong>.
          Očkování je hrazené z veřejného zdravotního pojištění, a proto se mohou nechat <strong>zdarma</strong> očkovat všechny osoby, které
          jsou přihlášené k veřejnému zdravotnímu pojištění v České republice.
        </p>
      </div>
      <div class="welcome__item">
        <mat-icon>schedule</mat-icon>
        <p>
          První dávku obdržíte v pátek <strong>18. června 2021</strong>.
          Přeočkování druhou dávkou proběhne v pátek <strong>16. července 2021</strong>.
          V obou termínech v čase 15 - 22 hodin. Přesný čas očkování pro vás bude na základě volných kapacit vygenerován po dokončení registrace.
          Místo, termín a čas jsou pevně dané a nelze je měnit. Komu zvolené termíny nevyhovují, může využít pražská očkovací centra. Čekací doby jsou krátké.
        </p>
      </div>
      <div class="welcome__item">
        <mat-icon>info</mat-icon>
        <p>
          S dotazy ohledně očkování se můžete obrátit na infolinku Prahy 7, která je Vám k dispozici každý všední den od 8:00 do 16:00 hodin na čísle 734 521 840 či na emailu ockovani@praha7.cz.
        </p>
      </div>
      <div class="welcome__item">
        <mat-icon>computer</mat-icon>
        <p>
          Podporované prohlížeče jsou (aktuální verze) Mozilla Firefox, Google Chrome a Safari.
          Naopak Internet Explorer není a nebude podporován a důrazně doporučujeme jej přestat používat obecně.
        <br>
          Projekt je vytvořen jako opensource a dostupný na <a href="https://github.com/mild-blue/covid-vaxx" target="blank">Githubu</a>.
          Pokud máte technické dotazy, připomínky nebo se chcete dozvědět více o Mild Blue, kontaktujte nás na ockovani@mild.blue.
        </p>
      </div>
    </div>

    <h3>
      Děkujeme, že svým očkováním chráníte sebe i ostatní a přispíváte k návratu k běžnému životu.
      <mat-icon>favorite_border</mat-icon>
    </h3>

    <button class="mt-30" color="primary" mat-raised-button routerLink="/registration"
            [disabled]="statistics === undefined || statistics.availableSlots == 0">
      Registrovat se k očkování
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </app-container>

</main>
