<mat-toolbar color="primary">
  <span>Úvodní stránka - Očkování proti COVID-19</span>
</mat-toolbar>

<app-container>
  <h1 class="mat-h1 mt-30">Registrace k očkování v Praze 7</h1>
  <mat-card>
    <p>Sedmička a Poliklinika Prahy 7 pro vás zajistily možnost očkování proti nemoci COVID-19 vakcínou Comirnaty od společnosti Pfizer/BioNTech .</p>

    <p>Očkování se uskuteční ve dvou pevně stanovených termínech v budově školy ZŠ Strossmayerovo náměstí (Strossmayerovo náměstí 4, Praha 7).</p>

    <p>K vakcinaci se mohou přihlásit zájemci ve věku od 16 let. Očkování je hrazené z veřejného zdravotního pojištění, a proto se mohou nechat zdarma očkovat všechny osoby, které jsou přihlášené k
      veřejnému zdravotnímu pojištění v České republice.</p>

    <p>První dávku obdržíte v pátek 18. června 2021.<br>
      Přeočkování druhou dávkou proběhne v pátek 16. července 2021.<br>
      V obou termínech v čase 15 - 22 hodin.</p>

    <p>Místo a termíny jsou pevně dané a nelze je měnit. Komu zvolený termín nevyhovuje, může využít pražská očkovací centra. Čekací doby jsou krátké.</p>

    <p>Infolinka Prahy 7 je Vám k dispozici každý všední den od 8:00 do 16:00 hodin na čísle: 734 521 840.</p>

    <p>Děkujeme, že svým očkováním chráníte sebe i ostatní a přispíváte k návratu k běžnému životu.</p>
  </mat-card>
  <button class="mt-30" color="primary" mat-raised-button routerLink="/registration">
    Registrovat se
  </button>
</app-container>

